<div class="mdui-drawer mdui-shadow-1 mdui-drawer-full-height" id="drawer" style="background: white">
    <ul class="mdui-list" style="padding-top: 0">
        <li class="mdui-list-item mdui-ripple">
            <% if (theme.avatar){ %>
                <div class="mdui-list-item-avatar">
                    <img src="<%= url_for(theme.avatar) %>"/>
                </div>
            <% } else { %>
                <i class="mdui-icon material-icons mdui-list-item-avatar">account-circle</i>
            <% } %>
            <div class="mdui-list-item-content">
                <div class="mdui-list-item-title"><%= config.author %></div>
                <div class="mdui-list-item-text"><%= config.description %></div>
            </div>
        </li>
        <li class="mdui-divider"></li>
        <li class="mdui-list-item mdui-ripple <% if (is_home()){ %>mdui-list-item-active<% } %>">
            <i class="mdui-icon material-icons mdui-list-item-icon">home</i>
            <div class="mdui-list-item-content">
                <div class="mdui-list-item-title">
                    <a href="<%= url_for("/") %>">首页</a>
                </div>
            </div>
        </li>
        <% if (theme.category){ %>
            <li class="mdui-list-item mdui-ripple <% if (page.path === "categories/index.html" || is_category()){ %>mdui-list-item-active<% } %>">
                <i class="mdui-icon material-icons mdui-list-item-icon">dashboard</i>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">
                        <a href="<%= url_for("/categories") %>">分类</a>
                    </div>
                </div>
            </li>
        <% } %>
        <% if (theme.tag){ %>
            <li class="mdui-list-item mdui-ripple <% if (page.path === "tags/index.html" || is_tag()){ %>mdui-list-item-active<% } %>">
                <i class="mdui-icon material-icons mdui-list-item-icon">bookmark</i>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">
                        <a href="<%= url_for("/tags") %>">标签</a>
                    </div>
                </div>
            </li>
        <% } %>
        <% if (theme.archive){ %>
            <li class="mdui-list-item mdui-ripple <% if (page.path === "archives/index.html" || is_archive()){ %>mdui-list-item-active<% } %>">
                <i class="mdui-icon material-icons mdui-list-item-icon">archive</i>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">
                        <a href="<%= url_for("/archives") %>">归档</a>
                    </div>
                </div>
            </li>
        <% } %>
    </ul>
</div>