<v-row justify="center">
    <v-col cols="10" xs="11" xl="5">
        <v-card>
            <v-card-title>
                <%= post.title %>
            </v-card-title>
            <v-card-subtitle>创建时间：<%- date(post.date, "YYYY-MM-DD") %> |
                更新时间：<%- date(post.updated, "YYYY-MM-DD") %></v-card-subtitle>
            <v-card-text>
                <%- post.excerpt %>
            </v-card-text>
            <v-card-actions>
                <a href="<%= url_for(post.path) %>" style="text-decoration: none">
                    <v-btn text color="primary">阅读更多</v-btn>
                </a>
            </v-card-actions>
        </v-card>
    </v-col>
</v-row>